<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
  <div class="menu">
      <div class="logo-estagios">
          <div class="estgios"><a href="index.html">
              <span class="e">e</span><span>s</span><span class="e">t</span
          ><span class="span">á</span><span class="g">g</span><span>i</span
          ><span class="span">o</span><span class="s">s</span>
          </a>
          </div>
      </div>
      <ul class="sub-menu">
          <li class="cursos1 "><a href="index.html">home</a></li>
          <li class="cursos1 selected"><a href="cursos.html">cursos</a></li>
          <li class="entrar">entrar</li>
      </ul>
  </div>

      
    <div class="pgina-principal">
        <div class="titulo-curso">
          <div class="designs-s-container">
            <span class="s">d</span><span>e</span><span class="s">si</span
            ><span class="e">g</span><span class="span">n</span
            ><span class="e">S . S . </span>
          </div>
          <div class="e-multimdia">
            <span><span>e</span><span class="span1"> </span></span
            ><span
              ><span>m</span><span class="u">u</span><span class="l">l</span
              ><span class="t1">t</span><span class="u">i</span
              ><span class="span">m</span><span class="span2">é</span
              ><span class="l">d</span><span class="u">ia</span></span>
          </div>
        </div>
        <div class="div-texto">
          <div class="informacao">
              <p class="paragrafo">No plano curricular do MDM, os alunos realizam uma Dissertação/Estágio, correspondendo a um esforço de 42 ECTS.</p>
              <p class="paragrafo bold">Formato da unidade curricular</p>
              <p class="paragrafo">
                <span class="smallcaps">1º Semestre</span><br>
                O trabalho decorre na FCTUC e engloba trabalhos preparatórios da Dissertação. Estão previstas 6h de aulas semanais e mais 10h semanais de dedicação extra-aulas durante este período.
              </p>

              <p class="paragrafo">
                <span class="smallcaps">2º Semestre</span><br>
                O trabalho é realizado na FCTUC ou numa Empresa/Instituição, a tempo integral, correspondendo a 40 horas/semanais e um esforço de 30 ECTS, sob orientação de um Docente da FCTUC.
              </p>

              <p class="paragrafo">
                A realização do trabalho na Empresa requer a existência de um elemento habilitado da Empresa/Instituição que possa coadjuvar o Docente da FCTUC na orientação.
              </p>
          </div>
          <div class="contactos">
              <p class="paragrafo">
                  <span class="bold">Calendário</span><br>
                  Ano Letivo 2022/2023
              </p>
              <div class="topicos">
              <div class="topico">
                  <p><span class="sub_calendario">Até 31 de maio<br></span>
                      <span class="texto_calendario">Inserção das propostas, por parte das Empresas/Instituições, na plataforma de estágios do DEI.</span>
                  </p>

                  <p><span class="sub_calendario">10 de junho<br></span>
                      <span class="texto_calendario">Avaliação das propostas submetidas.</span>
                  </p>

                  <p><span class="sub_calendario">10 de junho<br></span>
                      <span class="texto_calendario">Eventual revisão pelas Entidades proponentes.</span>
                  </p>

                  <p><span class="sub_calendario">20 de junho<br></span>
                      <span class="texto_calendario">Publicação na plataforma de estágio para os alunos.</span>
                  </p>

                  <p><span class="sub_calendario">22 de junho<br></span>
                      <span class="texto_calendario"><a href="">Dia das Dissertações/Estágios (presencial).</a></span>
                  </p>

                  <p><span class="sub_calendario">22 de junho<br></span>
                      <span class="texto_calendario">Candidatura do aluno às propostas publicadas na plataforma de estágios.</span>
                  </p>

                  <p><span class="sub_calendario">28 a 08 de julho<br></span>
                      <span class="texto_calendario">Consulta do CV/entrevistas. Indicar na plataforma de estágio caso o candidato não apresente perfil adequado.</span>
                  </p>
              </div>

              <div class="topico">
                  <p><span class="sub_calendario">Até 31 de maio<br></span>
                      <span class="texto_calendario">Inserção das propostas, por parte das Empresas/Instituições, na plataforma de estágios do DEI.</span>
                  </p>

                  <p><span class="sub_calendario">10 de junho<br></span>
                      <span class="texto_calendario">Avaliação das propostas submetidas.</span>
                  </p>

                  <p><span class="sub_calendario">10 de junho<br></span>
                      <span class="texto_calendario">Eventual revisão pelas Entidades proponentes.</span>
                  </p>

                  <p><span class="sub_calendario">20 de junho<br></span>
                      <span class="texto_calendario">Publicação na plataforma de estágio para os alunos.</span>
                  </p>

                  <p><span class="sub_calendario">22 de junho<br></span>
                      <span class="texto_calendario"><a href="">Dia das Dissertações/Estágios (presencial).</a></span>
                  </p>

                  <p><span class="sub_calendario">22 de junho<br></span>
                      <span class="texto_calendario">Candidatura do aluno às propostas publicadas na plataforma de estágios.</span>
                  </p>

                  <p><span class="sub_calendario">28 a 08 de julho<br></span>
                      <span class="texto_calendario">Consulta do CV/entrevistas. Indicar na plataforma de estágio caso o candidato não apresente perfil adequado.</span>
                  </p>
              </div>
              </div>
          </div>


        </div>

        <div class="div-texto">
            <div class="informacao">
                <p class="titulo">Propostas de Dissertação/Estágio</p>
                <p class="paragrafo">É da responsabilidade de cada aluno verificar se está em condições de se inscrever na unidade curricular de Dissertação/Estágio do curso de 2º. ciclo num determinado ano letivo. A atribuição de uma proposta pelo DEI não constitui por si só uma afirmação sobre a elegibilidade do aluno para realizar essa unidade curricular nesse ano letivo.</p>
                <p class="paragrafo">Todos os alunos em condições de frequentar a unidade curricular de Dissertação/Estágio têm de efectuar a canditura, aplicando-se também aos alunos já identificados nas propostas.</p>
            </div>

            <div class="maior_informacao">
                <p class="paragrafo">
                    <span class="bold">Propostas sem alunos <a class="link" href="">[-]</a></span><br>
                </p>
                <table>
                    <tr>
                        <th class="topico">código</th>
                        <th class="topico">empresa</th>
                        <th class="topico">título do estágio</th>
                        <th class="topico">orientador</th>
                    </tr>
                    <tr>
                        <td>5739</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada e Realidade Virtual para a Proteção Pública E socorro em Desastres</td>
                        <td>Jorge Cardoso</td>
                    </tr>
                    <tr>
                        <td>4592</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada</td>
                        <td>Jorge Cardoso e Licínio Roque</td>
                    </tr>
                    <tr>
                        <td>5739</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada e Realidade Virtual para a Proteção Pública E socorro em Desastres</td>
                        <td>Jorge Cardoso</td>
                    </tr>
                    <tr>
                        <td>4592</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada</td>
                        <td>Jorge Cardoso e Licínio Roque</td>
                    </tr>
                </table>
            </div>

            <div class="maior_informacao">
                <p class="paragrafo">
                    <span class="bold">Propostas sem alunos <a class="link" href="">[-]</a></span><br>
                </p>
                <table>
                    <tr>
                        <th class="topico">código</th>
                        <th class="topico">empresa</th>
                        <th class="topico">título do estágio</th>
                        <th class="topico">orientador</th>
                    </tr>
                    <tr>
                        <td>5739</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada e Realidade Virtual para a Proteção Pública E socorro em Desastres</td>
                        <td>Jorge Cardoso</td>
                    </tr>
                    <tr>
                        <td>4592</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada</td>
                        <td>Jorge Cardoso e Licínio Roque</td>
                    </tr>
                    <tr>
                        <td>5739</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada e Realidade Virtual para a Proteção Pública E socorro em Desastres</td>
                        <td>Jorge Cardoso</td>
                    </tr>
                    <tr>
                        <td>4592</td>
                        <td>DEI</td>
                        <td>Aplicações de Realidade Aumentada</td>
                        <td>Jorge Cardoso e Licínio Roque</td>
                    </tr>
                </table>
            </div>


        </div>


      </div>

  </body>
</html>
